html {
    box-sizing: border-box;


}

nav {
    background-color: white;
}

body {
    font-size: 9px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.75px;
    color: rgb(126, 126, 126);
    width: calc(100vw - var(--scrollbar-width));
}


.blur p {
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 1.25px;
    font-weight: 200;
}

.content {
    height: 100%;
}



h3 hr {
    margin-bottom: 4%;
}

h3 {
    font-size: 12px;
}



section {
    height: 100vh;

}


.blur {
    /* margin: 0 auto; */
    height: 100%;
}


.blur {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cv {
    position: absolute;
    top: 100%;
    left: 0%;
   
}

.view {
    float: right;
}





#second {
   height: 100vh;
   padding: 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   

}

#first {

    height: 130vh;
  
   
}


#second>* {
    width: 45%;
   
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    height: 45%;
   


}

.container-items {
    position: absolute;
    top: 0;
    height: 45%;
    width: 100%;
 

}


.skills-icons {
    position: relative;
    margin: 0 auto;
    width: 45%;

    height: fit-content;


}


.skills-icons .table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.tooltip i {
    font-size: 1.1rem;
    padding: 0%;
    border-radius: 10px;
    font-weight: 200;
    transition: transform 0.2s;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 14px 0px 0px 0px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0%;
}

.tooltiptext {
    visibility: hidden;
    display: inline-block;
    font-size: 8px;
    z-index: 2000;
    width: 56px;
    height: 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    bottom: 0%;
}

i.fi.fi-brands-github {
    font-size: 1.1rem;
}

i.fa-brands.fa-square-js {
    font-size: 1.1rem;
}

i.fa-brands.fa-html5 {
    font-size: 1.2rem;
}

i.fa-brands.fa-css3-alt {
    font-size: 1.2rem;
}


.lingue {
    position: relative;
    margin: 0 auto;
    width: 45%;
    height: 10%;



}

.lingue .table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



/* Tabs */
/**************************/

.opentab p {
    line-height: 0px;
    padding: 0px 0px 10px 0px;

}

.opentab h4 {
    line-height: 0px;
    padding: 8px 0px 4px 0px;
}

.opentab {
    padding-top: 3%;
}

.tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* button.tablinks >* {
    flex: 0 0 60px;
} */

button {
    border: 1px solid #9a9a9a37;
    outline: none;
    width: 90px;
    height: 34px;
    margin: 2px;
    border-radius: 50px;
    transition: 0.3s;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.5px;
    background: transparent;
    font-weight: 300;
    transition: transform 0.2s;
    color: rgb(126, 126, 126);
}

button .tablinks {
    border: 1px solid #9a9a9a37;
    outline: none;
    width: 66x;
    height: 32px;
    margin: 4px;
    border-radius: 50px;
    transition: 0.3s;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.5px;
    background: transparent;
    font-weight: 300;
    transition: transform 0.2s;
    color: rgb(126, 126, 126);
}



/* Section - Parallax */
/**************************/
.parallax {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/img/homepage.png");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}



@media screen and (max-width: 1920px) and (min-width: 1601px) {




    .container-items {
        position: absolute;
        height: 46vh;
        top: 4%;
        width: 100%;
      
      
    
    }

    .skills-icons {
        height: fit-content;
        padding: 1% 0% 2% 0%;
    }

    .lingue {
    height: fit-content;    
    }

    #second {
        height: 100vh;
       
         display: flex;
         flex-direction: column;
         justify-content: center;
        
     
     }
     
     #first>* {
         width:34%;
         height: 100vh;
        
     }
     
     
     #second>* {
         width: 34%;
         
        
    
    
        
     }
     



}
 
@media screen and (max-width: 1600px) and (min-width: 1400px) {
    #second {
        height: 100vh;
        padding: 6% 0%;
         
        
     
     }
     
     #first>* {
         width: 42%;
         height: 100vh;
        
     }
     
     
     #second>* {
         width: 42%;
     
        
     }
     
     .container {
         position: relative;
         margin: 0 auto;
         display: flex;
         height: 55%;
       
        
     
     
     }

}

 @media screen and (max-width: 1399px) and (min-width: 1281px) {
 
    #second {
       
        padding: 6% 0%;
       
        
     
     }
     
     #first>* {
         width: 45%;
         height: 100vh;
        
     }
     
     
     #second>* {
         width: 45%;
     
        
     }
     
     .container {
         position: relative;
         margin: 0 auto;
         display: flex;
         height: 58%;
        
     
     
     
     }
 
 
 
}




@media screen and (max-width: 1280px) and (orientation: landscape) {
    #second {
       height: 114vh;
        padding: 12% 0%;
        
        
     
     }
     
     #first>* {
         width: 45%;
         height: 100vh;
        padding-right: 0%;
     }
     
     
     #second>* {
         width: 68%;
         padding-left: 0%;
    
        
     }
     
     .container {
         position: relative;
         margin: 0 auto;
         display: flex;
         height: 54%;
       
       
       
     
         
        
     
     
     
     }

     .skills-icons {
        height: fit-content;
        padding: 0% 0% 0% 0%;
    }

}




@media screen and (max-width: 1279px) and (min-width: 963px) and (orientation: landscape) {
    #second {
       height: 100vh;
        padding: 8% 0%;
       
        
     
     }
     
     #first>* {
         width: 45%;
         height: 100vh;
        
     }
     
     
     #second>* {
         width: 55%;
         padding-right: 6%;
     
        
     }
     
     .container {
         position: relative;
         margin: 0 auto;
         display: flex;
         height: 55%;
       
        
     
         
        
     
     
     
     }

     .skills-icons {
        height: fit-content;
        padding: 4% 0% 2% 0%;
    }

}



@media screen and (max-width: 962px) and (min-width: 916px) and (orientation: landscape) {
    #second {
        height: 124vh;
         padding: 8% 0%;
 
         
      
      }
      
      #first>* {
          width: 55%;
          height: 100vh;
         
      }
      
      
      #second>* {
          width: 70%;
          padding-left: 0%;

         
      }
      
      .container {
          position: relative;
          margin: 0 auto;
          display: flex;
          height: 50%;
        
      
      
      
      }
 
      .skills-icons {
         height: fit-content;
         padding: 0% 0% 0% 0%;
     }
}
 

@media screen and (max-width: 915px) and (min-width: 821px) and (orientation: landscape) {
    #first>* {
        width: 50%;
        height: 100dvh;
        padding-left: 5%;
       
    }
    
    
    #second {
        min-height: 100vh;
        padding: 8% 0%;
        padding-left: 5%;

    }


    #second>* {
        width: 70%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 55%;
       
    
    
    }

}






@media screen and (max-width: 820px) and (min-width: 800px) and (orientation: portrait) {


     
    #second {
        
         padding: 4% 0% 0% 5%;
     
         
      
      }
      
      #first>* {
          width: 60%;
          height: 100vh;
         
      }
      
      
      #second>* {
          width: 80%;
          
        
      }
      
      .container {
          position: relative;
          margin: 0 auto;
          display: flex;
          height: 40%;
    

     
         
      
      
      
      }



    .skills-icons {
        height: fit-content;
        padding: 8% 0% 8% 0%;
    }

    .lingue {
    height: fit-content;    
    }

    #second {
        min-height: 100vh;
       
         display: flex;
         flex-direction: column;
         justify-content: center;
       
    
     
     }

}


@media screen and (max-width: 799px) and (min-width: 602px) and (orientation: portrait) {


   
    #second {
        min-height: 120vh;
         padding: 10% 0% 10% 4%;
         
         
      
      }
      
      #first>* {
          width: 60%;
          height: 100vh;
          padding-left: 4%;
         
      }
      
      
      #second>* {
          width: 75%;

         
      }
      
      .container {
          position: relative;
          margin: 0 auto;
          display: flex;
          height: 52%;
         
         
          
         
      
      
      
      }



    .skills-icons {
        height: fit-content;
        padding: 6% 0% 6% 0%;
    }

    .lingue {
    height: fit-content;    
    }

    #second {
    
       
         display: flex;
         flex-direction: column;
         justify-content: center;
        
     
     }






}


@media screen and (max-width: 800px) and (min-width: 780px) and (orientation: landscape) {
   
    #first>* {
        width: 68%;
        height: 100dvh;
        padding-left: 5%;
       
    }
    
    
    #second {
        min-height: 100vh;
        padding: 10% 0%;
        padding-left: 5%;

    }


    #second>* {
        width: 80%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 50%;
       
    
    
    }
      



  

}



@media screen and (max-width: 779px) and (min-width: 601px) and (orientation: landscape) {
   
    #first>* {
        width: 72%;
        height: 100dvh;
        padding-left: 11%;
       
    }
    
    
    #second {
        min-height: 100vh;
        padding: 10% 0%;
        padding-left: 5%;

    }


    #second>* {
        width: 80%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 60%;
       
    
    
    }
      



  

}


@media screen and (max-width: 601px) {

  

    button.tablinks {
        width: 86px;
        height: 32px;

    }

     
    #first>* {
        width: 70%;
        height: 100dvh;
        padding-left: 9.5%;
       
    }
    
    
    #second {
        min-height: 90vh;
        padding: 20% 0%;
        padding-left: 9%;

    }


    #second>* {
        width: 80%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 61%;
      
    
    
    }
      
    .opentab {
        padding-top: 8%;
    }
 
 


}


@media screen and (max-width: 393px) {


    button.tablinks {
        width: 86px;
        height: 32px;

    }

     
    #first>* {
        height: 100vh;
       
        padding-left: 11%;
        width: 72%;
       
    }
    
    
    #second {
        min-height: 100vh;
        padding: 20% 0%;
        padding-left: 11%;

    }


    #second>* {
        width: 80%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 56%;
       
       
    
    
    }
      
    .opentab {
        padding-top: 8%;
    }
 
      .skills-icons {
         height: fit-content;
         padding: 0% 0% 0% 0%;
     }

} 



@media screen and (max-width: 360px) {


    button.tablinks {
        width: 80px;
        height: 32px;

    }

     
    #first>* {
        width: 72%;
        height: 100dvh;
        padding-left: 11%;
       
    }
    
    
    #second {
        height: 100vh;
        padding: 20% 0%;
        padding-left: 11%;

    }


    #second>* {
        width: 80%;
        
       
    }
    
    .container {
        position: relative;
        margin: 0 auto;
        display: flex;
        height: 60%;
       
       
    
    
    }
      
    .opentab {
        padding-top: 8%;
    }
 
      .skills-icons {
         height: fit-content;
         padding: 0% 0% 0% 0%;
     }

} 