@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url("https://use.typekit.net/ezv7rpx.css");
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url("https://use.typekit.net/ezv7rpx.css");
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');







html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
 
  background-color: #171717;

}

body {
  width: 100%;
  margin: 0;

  height: 100%;
  overflow: hidden;
  background-color: radial-gradient(circle at 24.1% 68.8%, rgb(29, 29, 29) 0%, rgb(0, 0, 0) 99.4%);

}


/* body {
  font-size: 9px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 0.75px;
  color: white;
  text-align: center;
  background-color: radial-gradient(circle at 24.1% 68.8%, rgb(29, 29, 29) 0%, rgb(0, 0, 0) 99.4%);

  font-size: 100%;

} */



a {
  text-decoration: none;

}

a:hover {
  transition: 0.3s;
  opacity: .5;
}


button a {
  color: black;
}

button {
  border: none;
  outline: none;
  font-size: 11px;
  width: 116px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50px;
  transition: 0.3s;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-style: normal;
  font-size: 10.5px;
  letter-spacing: 0.5px;

  font-weight: 300;
  transition: transform 0.2s;
}

/* || Button */

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  /* display: block; */
  margin: auto;
  margin-top: 0vh;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





.icons {
  width: 20%;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  background-color: transparent;

  left: 50%;
  transform: translate(-50%, -50%);

}


i.fi.fi-sr-envelope,
i.fi.fi-sr-phone-call {
  font-size: 14px;
}



.fa-instagram,
.fa-linkedin-in {
  font-size: 18px;
}


.icons i {
  color: #ffffff;
}

.title-letter {
  position: relative;
  letter-spacing: 0px;
  font-size: calc(6.7vw + .5rem);
  /* margin-left: -2px; */
  font-family: 'the_new_eleganceCnRg';
  font-weight: 100;
  letter-spacing: 2px;


  color: #ffffff;


}



p {
  font-size: 1.1rem;
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: white;
  background-color: transparent;
  opacity: 1;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  position: relative;

  top: 0%;
  /* left: 30%; */

}

/* 
#wrapper {
  margin: 0 auto;
  width: 90%;
  height: 70%;
  border: 2px solid orange;
  padding: 0% 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#wrapper {
  height: calc(100% - 100px);
  overflow: auto;
  
}

#title {
  position: absolute;


  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);


}


#sub-title p {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 1;

  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);


}


.cta {

  position: absolute;
  display: flex;
  justify-content: space-around;

  left: 50%;
  transform: translate(-50%, -50%);


}


/* span {
  line-height: 4px;

} */

/* Opacity For Start */
.title-letter,
#sub-title {
  opacity: 0;
}





.icons .tooltip .tooltiptext {
  visibility: hidden;
  /* width: 160px; */
  text-align: center;
  border-radius: 6px;
  padding: 10px 8px;



  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 0%;
}

.icons .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .9;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
}





/* Media Queries */
/**************************/

@media screen and (max-width: 1920px) and (min-width: 1601px) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
    font-size: calc(6vw + 1.5rem);
    position: relative;
    top: 35%;
  }


  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }



  #sub-title p {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 20%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 20%;

    left: 50%;
    transform: translate(-50%, -50%);

  }









  button {

    font-size: 15px;
    width: 160px;
    height: 52px;

  }

}

@media screen and (max-width: 1600px) and (min-width: 1400px) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
    font-size: calc(6vw + 1.5rem);
    position: relative;
    top: 30%;
  }


  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }



  #sub-title p {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 25%;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 20%;

    left: 50%;
    transform: translate(-50%, -50%);

  }





  button {

    font-size: 13px;
    width: 132px;
    height: 44px;

  }


}

@media screen and (max-width: 1399px) and (min-width: 1280px) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
    font-size: calc(6vw + 1.5rem);
    position: relative;
    top: 30%;
  }


  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }



  #sub-title p {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 25%;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 20%;

    left: 50%;
    transform: translate(-50%, -50%);

  }





  button {

    font-size: 13px;
    width: 132px;
    height: 44px;

  }





  button {

    font-size: 13px;
    width: 132px;
    height: 44px;

  }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
    font-size: calc(6vw + 1.5rem);
    position: relative;
    top: 30%;
  }


  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }



  #sub-title p {
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 30%;
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 20%;

    left: 50%;
    transform: translate(-50%, -50%);

  }





  button {

    font-size: 13px;
    width: 120px;
    height: 40px;

  }

}

@media screen and (max-width: 960px) and (orientation: landscape) {
  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 100%;
    display: inline-block;

  }


  #title {
  
    position: relative;
    top: 20%;
  }


  p {
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;


  }

.title-letter {
  font-size: calc(3.5vw + 2rem);
}

  #sub-title p {
    position: relative;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 29%;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 25%;

    left: 50%;
    transform: translate(-50%, -50%);

  }


  button {

    width: 102px;
    height: 34px;

  }

  i.fi.fi-sr-envelope,
  i.fi.fi-sr-phone-call {
    font-size: 11px;
    padding: 0%;
  }



  .fa-instagram,
  .fa-linkedin-in {
    font-size: 14px;
    padding: 0%;
  }

}

@media screen and (max-width: 768px) and (orientation: landscape) {
  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
  
    position: relative;
    top: 25%;
  }


  p {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 1px;


  }

.title-letter {
  font-size: calc(3.5vw + 1.5rem);
}

  #sub-title p {
    position: relative;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 35%;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 25%;

    left: 50%;
    transform: translate(-50%, -50%);

  }


  button {

    width: 102px;
    height: 34px;

  }

  i.fi.fi-sr-envelope,
  i.fi.fi-sr-phone-call {
    font-size: 11px;
    padding: 0%;
  }



  .fa-instagram,
  .fa-linkedin-in {
    font-size: 14px;
    padding: 0%;
  }

}

@media screen and (max-width: 960px) and (orientation: portrait) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
   
    position: relative;
    top: 40%;
  }

  .title-letter {
    font-size: calc(4vw + 2.5rem);
  }

  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }



  #sub-title p {
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 35%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 25%;

    left: 50%;
    transform: translate(-50%, -50%);

  }





  button {

    font-size: 13px;
    width: 120px;
    height: 40px;

  }



}

@media screen and (max-width: 601px) and (orientation: portrait) {
  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 100%;
    display: inline-block;

  }


  #title {
  
    position: relative;
    top: 40%;
  }


  p {
    font-size: 1.3rem;
    font-weight: 200;
    letter-spacing: 2px;


  }

.title-letter {
  font-size: calc(4vw + 2.5rem);
}

  #sub-title p {
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 45%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 25%;

    left: 50%;
    transform: translate(-50%, -50%);

  }





  button {

    font-size: 13px;
    width: 120px;
    height: 40px;

  }
}

@media screen and (min-width: 360px) and (max-width: 480px) and (orientation: portrait) {
  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 100%;
    display: inline-block;

  }


  #title {
  
    position: relative;
    top: 40%;
  }


  p {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 1px;


  }

.title-letter {
  font-size: calc(2vw + 2rem);
}

  #sub-title p {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 50%;

    left: 50%;
    transform: translate(-50%, -50%);

  }

  button {

    width: 108px;
    height: 34px;

  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 100%;
    display: inline-block;

  }


  #title {
  
    position: relative;
    top: 40%;
  }


  p {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 1px;


  }

.title-letter {
  font-size: calc(2vw + 2rem);
}

  #sub-title p {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);


  }





  .cta {
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }

  .icons {
    bottom: 0%;
    width: 50%;

    left: 50%;
    transform: translate(-50%, -50%);

  }

  button {

    width: 102px;
    height: 34px;

  }

}