* {
    box-sizing: border-box;

}

/* navigation {
   
    background: linear-gradient(45deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));

} */


/* || Block typography & Layout */

.block {
    margin: 80px 0 60px 0;
}

.block p {
    float: right;
    margin-top: 20px;
    width: 45%;
}


.block ul {
    float: left;
    list-style: none;
    width: 40%;
}

.block ul li {
    text-align: left;
    font-size: 11.5px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.block .flip {
    width: 45%;

}


.right {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.8px;


}






/* || Flip Buttons & Panels */

#flip1,
#flip2,
#flip3,
#flip4,
#flip5,
#flip6,
#flip7,
#flip8,
#flip9 {
    margin-top: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    float: none;

}

#panel1,
#panel2,
#panel3,
#panel4,
#panel5,
#panel6,
#panel7,
#panel8,
#panel9 {
    display: none;
    text-align: justify;
    margin-top: 0px;
    width: 100%;

}


/* || Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 100px;

}


/* Track */
::-webkit-scrollbar-track {
    box-sizing: border-box;
    margin-top: 30vh;
    margin-bottom: 40vh;
    background: linear-gradient(#a1a1a11b, #a1a1a11b);
    border-radius: 100px;


}

/* Handle */
::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    border-radius: 100px;
    background: #424141c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}




/* || Section & Container */

section {
    margin-top: 20px;
    padding-top: 40px;
}

.container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column wrap;
    margin-top: 12px;
}


.container>* {
    padding-right: 5%;
    padding-left: 8%;
    padding-top: 40px;

}


/* || Images & Videos */

.full {
    width: 100%;
    /* IE */
    flex: 0 1 100%;
}

.three_quarters {
    width: 58%;
    /* IE */
    flex: 0 2 calc(58% - 20px);
}

.three_quarters_right {
    width: 65%;
    /* IE */
    flex: 0 2 calc(65% - 20px);
    align-self: flex-end;
}


.half {
    width: 50%;
    /* IE */
    flex: 0 2 calc(50% - 20px);
}

.half_right {
    width: 52%;
    /* IE */
    flex: 0 2 calc(50% - 20px);
    align-self: flex-end;
}

.third {
    width: 38.2%;
    /* IE */
    flex: 0 1 calc(38.333333% - 20px);
}


.third_right {
    width: 38.2%;
    /* IE */
    flex: 0 1 calc(38.333333% - 20px);
    align-self: flex-end;
}

.fourth {
    width: 30%;
    /* IE */
    flex: 0 1 calc(30% - 20px);
}

.fourth_right {
    width: 30%;
    /* IE */
    flex: 0 1 calc(30% - 20px);
    align-self: flex-end;
}

.sixth {
    width: 10%;
    /* IE */
    flex: 0 1 calc(10% - 20px);
}


/* Media Queries */
/**************************/
@media screen and (min-width: 960px) and (max-width: 1200px) {}


@media screen and (max-width: 959px) and (min-width: 871px) {

    .container>* {
        padding-right: 5%;
        padding-left: 10%;
        padding-top: 40px;
    
    }
}



/* Start @media(max-width:870px) */

@media(max-width: 870px) {

    .block {
        margin: 0px 0px;
    }

    .block ul,
    .block p {
        float: none;
        width: 100%;
    }

    .block p {
        margin-top: 40px;
    }


    button {
        margin-top: 40px;
    }



    .container>* {
        padding-right: 5%;
        padding-left: 12%;
        padding-top: 40px;
    }


    .three_quarters {
        width: 60%;
        /* IE */
        flex: 0 2 calc(60% - 0px);
    }


    .half_right {
        width: 55%;
        /* IE */
        flex: 0 2 calc(55% - 0px);
        align-self: flex-end;
    }

    .third {
        width: 50%;
        /* IE */
        flex: 0 1 calc(50% - 0px);
    }

    .third_right {
        width: 50%;
        /* IE */
        flex: 0 1 calc(50% - 0px);
        align-self: flex-end;
    }

}

/* Start @media(max-width:770px) */

@media(max-width: 770px) {



    .block ul {
        margin-top: 35px;
    }

    .container>* {
        padding-right: 5%;
        padding-left: 10%;
        padding-top: 40px;

    }

    .three_quarters {
        width: 65%;
        /* IE */
        flex: 0 2 calc(65% - 0px);
    }


    .half_right {
        width: 65%;
        /* IE */
        flex: 0 2 calc(65% - 0px);
        align-self: flex-end;
    }

    .third {
        width: 54.2%;
        /* IE */
        flex: 0 1 calc(54.333333% - 0px);
    }

    .third_right {
        width: 54.2%;
        /* IE */
        flex: 0 1 calc(54.333333% - 0px);
        align-self: flex-end;
    }


}

/* Start @media(max-width:620px) */

@media(max-width: 620px) {



    .container>* {
        padding-right: 8%;
        padding-left: 12%;
        padding-top: 40px;
    }

    /* || Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 0px;

}
}



/* Start @media(max-width:570px) */

@media(max-width: 570px) {

    /* button {
        margin-top: 40px;
    } */

    .info {
        width: 100%;
    }

    .container>* {
        padding-right: 8%;
        padding-left: 12%;
        padding-top: 40px;
    }


    .third {
        width: 100%;
        /* IE */
        flex: 0 1 calc(85.333333% - 0px);
        align-self: center;
    }


    .third_right {
        width: 100%;
        /* IE */
        flex: 0 1 calc(85.333333% - 0px);
        align-self: flex-end;
    }

    .three_quarters {
        width: 100%;
        /* IE */
        flex: 0 2 calc(100% - 20px);
    }

    .half {
        width: 100%;
        /* IE */
        flex: 0 2 calc(80% - 20px);
    }

    .half_right {
        width: 100%;
        /* IE */
        flex: 0 2 calc(100% - 20px);
        align-self: flex-end;
    }

    .fourth {
        width: 55%;
        /* IE */
        flex: 0 1 calc(55% - 20px);
    }

    .fourth_right {
        width: 55%;
        /* IE */
        flex: 0 1 calc(55% - 20px);
        align-self: flex-end;
    }

    footer {
        display: none;
    }

}


/* Start @media(max-width:420px) */

@media(max-width: 420px) {

    .container>* {
        padding-right: 5%;
        padding-left: 7%;
        padding-top: 40px;

    }


    footer {
        display: none;
    }



}



/* Start @media(max-width:320px) */

@media(max-width: 320px) {

    .container>* {
        padding-right: 3.5%;
        padding-left: 6%;
        padding-top: 40px;
    }





}