navigation button, button {
    border: 1.4px solid #6666668b;
    top: 12px;
    right: 66px;
    /* color: #666666; */
  

}



navigation {
    /* background-color: #d4d4d40c; */
    /* color: #666666; */
    opacity: 1;

}


navigation i {
    /* color: #666666; */
    opacity: 1;

}

navigation button {
    display: none;
}

