/* Media Queries */
/**************************/

@media screen and (max-width: 600px) {

    .navigation {
        padding: 0px 0px;
        justify-content: space-evenly;
        font-size: 12px;
    }

    navigation {
        height: 60px;
        padding: 0 3%;
        left: 0px;
        right: 1px;
    }

    .fi-br-menu-burger {
       
        cursor: pointer;
        font-size: 20px;
    }

    .fi-sr-house-chimney {
        font-size: 18px;
        cursor: pointer;
    }

    .vl {
        margin-left: 11%;
    }

    .menu {
        left: -1.5%;
    }


    .tooltip:hover .tooltiptext {
        display: none;
    }

}


@media screen and (max-width: 479px) {}


@media screen and (max-width: 420px) {}

@media screen and (max-width: 394px) and (min-width: 361px)   {
   
    navigation {
        height: 60px;
        padding: 0 3%;
        left: 0px;
        right: 1px;
    }


    .menu, .vl {
        display: none;
    }


}

/* Start @media(max-width:320px) */

@media(max-width: 360px) {

 


    .menu, .vl {
        display: none;
    }


}