/* Media Queries */
/**************************/
/* @media screen and (max-width: 1600px) {
    
    navigation {
        height: 48px;
        padding: 0% 1%;
        left: 0px;
       
    }

    .menu {
        height: 92%;
        font-size: 11px;
        
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .navigation {
        padding: 0% 0%;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .fi-br-menu-burger {
       
        cursor: pointer;
        font-size: 16px;
    }

    .fi-sr-house-chimney {
        font-size: 15px;
        cursor: pointer;
        color: rgb(126, 126, 126);

    }

    .vl {
        border-left: 0.5px solid #69696955;
        height: 100vh;
        position: fixed;
        margin-left: 3%;
        z-index: 3;
    
    }

}


@media screen and (min-width: 1281px) {
    
    navigation {
        height: 48px;
        padding: 0% 1%;
        left: 0px;
       
    }

    .menu {
        height: 92%;
        font-size: 11px;
        
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .navigation {
        padding: 0% 0%;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .fi-br-menu-burger {
       
        cursor: pointer;
        font-size: 16px;
    }

    .fi-sr-house-chimney {
        font-size: 15px;
        cursor: pointer;
        color: rgb(126, 126, 126);

    }

    .vl {
        border-left: 0.5px solid #69696955;
        height: 100vh;
        position: fixed;
        margin-left: 3%;
        z-index: 3;
    
    }

} */



/* @media screen and (max-width: 1280px) {


    .navigation {
        padding: 0% 1%;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }


    .navigation {
        padding: 0% 0%;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    } */
    
    /* navigation {
        height: 48px;
        padding: 0 1.5%;
        left: 0px;
        right: 1px;
    }

    .menu {
        height: 92%;
        font-size: 11px;
        
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .navigation {
        padding: 0px 54px;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .fi-br-menu-burger {
       
        cursor: pointer;
        font-size: 16px;
    }

    .fi-sr-house-chimney {
        font-size: 15px;
        cursor: pointer;
        color: rgb(126, 126, 126);

    } */

}
    

@media screen and (max-width: 1280px) and (min-width: 960px) {
    /* navigation {
        height: 48px;
        padding: 0 1.5%;
        left: 0px;
        right: 1px;
    }

    .menu {
        height: 92%;
        font-size: 11px;
        
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .navigation {
        padding: 0px 54px;
        font-size: 11px;
      
        color: rgb(126, 126, 126);
        letter-spacing: 0.5px;
    }

    .fi-br-menu-burger {
       
        cursor: pointer;
        font-size: 16px;
    }

    .fi-sr-house-chimney {
        font-size: 15px;
        cursor: pointer;
        color: rgb(126, 126, 126);

    } */
}


@media screen and (max-width: 959px) and (min-width: 821px) {
   
    /* navigation {
        height: 42px;
        padding: 0% 2.2%;
        left: 0px;
        right: 1px;
        top: 0;
    }

    .menu {
        height: 88%;
  
    } */

}
