/* Media Queries */
/**************************/

@media screen and (max-width: 820px) and (min-width: 769px) {

    .navigation {
        padding: 0px 24px;
        font-size: 13px;


    }

    navigation i {
        font-size: 1.2em;
    }

    .menu {
        left: 0%;
    }

    /* || Footer */
    /* 
footer {
    right: 5%;
    height: 20%;

} */


}


@media screen and (max-width: 768px) and (min-width: 601px) {


    .navigation {
        padding: 0px 16px;
        font-size: 13px;
    }

    navigation i {
        font-size: 1.6em;
    }




}