@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url("https://use.typekit.net/ezv7rpx.css");
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* || General styles */


/* … */
.content-wrapper {
    width: 98%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;

}



/* || Typography */

body {
    scroll-behavior: smooth;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 13px;
    text-align: justify;
    color:  rgb(126, 126, 126);


}



h2 {
    font-family: 'the_new_eleganceCnRg';
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 0px;
}

h3 {


    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}


h4 {

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    line-height: 18px;
    color:  rgb(126, 126, 126);


}

h5 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 11px;

    font-size: 12px;
    letter-spacing: 0.5px;
    /* color: #666666; */


}

p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 24px;

    font-size: 11px;
    letter-spacing: 0.5px;
    /* color: #666666; */


}



/* … */
li {
    list-style: none;
    padding-left: 0px;
    line-height: 4px;


}

ul {
    list-style: none;
    padding-left: 0px;


}

/* || Links */

a {
    text-decoration: none;
    color: rgb(126, 126, 126);
    cursor: pointer;




}

hr {
    margin-bottom: 8px;
    margin-top: 8px;
    border: 0.5px solid #b1b1b136;
}



a:hover {
    transition: 0.3s;
}


/* || Navigation Links */

navigation a {
    font-weight: 400;
    letter-spacing: 0.7px;


}

.active {
    transition: .3s ease-out;
    opacity: 1;
    font-weight: 400;
    text-decoration-line: none;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.5em;


}

a:hover {
    /* text-decoration: underline; */
    opacity: .6;
    cursor: pointer;

}



/* || Header and Main Navigation */

/* … */

.navigation {
    padding: 0px;
    font-size: 13px;
}

navigation {
    height: 52px;
    padding: 0%;
    left: 0px;
    right: 1px;

}

navigation {
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #7272720c;


}

navigation i {

    margin-left: 18px;
    margin-right: 18px;



}



.fi-sr-house-chimney {
    font-size: 18px;
  
}

.fi-br-menu-burger {
    font-size: 20px;
}

/* || Aside */

/* … */

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    text-align: center;
    z-index: 3;
    left: 0;
    height: 100%;
    /* font-weight: 400; */
    letter-spacing: 0.7px;
    justify-content: space-around;
    /* margin: 0 auto; */

}


.menu-wrapper li {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 29px;
    
}

.vl {
    border-left: 0.5px solid #69696955;
    height: 100vh;
    position: fixed;
    margin-left: 56px;
    z-index: 3;

}

.menu-wrapper a:hover {
    color: rgba(105, 105, 105, 0.44);
    opacity: 1;
    /* color: rgb(119, 119, 119); */
    /* text-decoration: underline; */
}


/* || Button */

@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    /* display: block; */
    margin: auto;
    margin-top: 0vh;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


button {
    border: 1px solid #666666;
    outline: none;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 0px 0px;
    text-align: center;
    /* backdrop-filter: none; */
    background-color: white;


}



/* || Overlay */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 89;
    background-color: #171717;
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}



.overlay a {
    text-decoration: none;
    font-family: 'the_new_eleganceCnRg';
    font-size: calc(6vw + 1.5rem);

    line-height: 1.4em;
    letter-spacing: 1px;
    transition: 0.6s;
    color: white;
}

.overlay a:hover,
.overlay a:focus {
    color: #ffffff;
}

.overlay .closebtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 2.5em;
    opacity: 1;
    color: white;
    cursor: pointer;
    z-index: 990;

}

/* || Footer */

footer {
    /* padding: 0% 0;
    text-align: center; */
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /* bottom: calc(100vh - 28vh); */
    bottom: 0;

    position: fixed;
    right: 5%;
    height: 20%;
    justify-content: space-evenly;
    z-index: 0;

}


footer i {
    writing-mode: vertical-lr;
    transform: rotate(0deg);
    width: 0px;
    font-size: 14px;
    transition: transform .2s;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    outline: none;



}


/* || Tooltip */


.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 160px; */
    text-align: center;
    border-radius: 6px;
    padding: 0px 8px;



    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 0%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .9;
    color: #666666;
    font-size: 11px;
    font-weight: 400;
}



/* Media Queries */
/**************************/
@media screen and (min-width: 960px) and (max-width: 1200px) {
    .navigation {
        padding: 0px 0px;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 959px) and (min-width: 800px) {

    .menu {
        left: 0%;
        height: 84%;
    }

    navigation {
   
        left: 1px;
    
    }
    
}


@media screen and (max-width: 768px) {
    /* .navigation {
        padding: 0px 32px;
        justify-content: space-evenly;
        font-size: 11px;

    }

    navigation i {
        font-size: 1.4em;
    }


 

    .tooltip:hover .tooltiptext {
        display: none;
      } */
}


@media screen and (max-width: 620px) {


    /* .menu {
        display: none;
    } */

    /* footer {
        bottom: 1%;
        position: fixed;
        right: 30px;
        height: 24vh;
    } */

    /* .tooltip:hover .tooltiptext {
        display: none;
      } */


}


@media screen and (max-width: 500px) {}


@media screen and (max-width: 420px) {
    /* .navigation {
        padding: 0px 0px;
        justify-content: space-evenly;
        font-size: 13px;
    }

 

    navigation i {
        font-size: 1.6em;
    }

 
    .vl, .menu {
     
        display: none;
    
    } */
    /* 
    .menu { 
        left: -1.2%;
    } *

    /* .vl {
        display: none;
    } */


    /* footer {
        bottom: 1%;
        position: fixed;
        right: 30px;
        height: 24vh;
    }

    .tooltip:hover .tooltiptext {
        display: none;
      } */

}

@media screen and (max-width: 360px) {}