/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 821px) {




    /* #about {
        padding-top: 50vh;
     }  */

    .table {
        width: 640px;


    }



    .blur p {
        font-size: 12px;
    }



    /* Section - Parallax */
    /**************************/
    .parallax {
        padding-top: 244px;
        padding-bottom: 244px;
        margin-top: 44px;
        background-position: bottom right;
    }

}


@media screen and (max-width: 820px) and (min-width: 768px) {
    /* #about {
        padding-top: 30vh;
     }  */

     navigation {
        z-index: 3;
        position: fixed;
        display: flex;
        left: 0rem;
        right: 0rem;
        /* top: 12px; */
        /* width: 100%; */
        height: 60px;
        align-items: center;
        justify-content: space-between;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: #7272720c;
        /* background: linear-gradient(45deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)); */
        /* border-bottom: 0.5px solid #9f9f9f75; */
    
    }
    
    navigation a, .menu .li {
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 500;
        font-style: normal;
            font-size: 11px; 
            line-height: 18px;
    
    }
    
    .fi-br-menu-burger {
        padding: 0px 17px;
        cursor: pointer;
        font-size: 22px;
    
    }
    
    .fi-sr-house-chimney {
        padding: 0px 17px;
        cursor: pointer;
        font-size: 20px;

    
    
    }
    .blur p {
        font-size: 12px;
    }

   .fi-br-download {
    
    
        font-size: 14px;
        line-height: 80px;
    }


    .menu { 
        left: 0px;
    }


  

    .table {
      
        padding-top: 48%;
        padding-left: 5%;
        align-self: normal;
        width: 640px;
       

    }




    /* Section - Parallax */
    /**************************/
    .parallax {
        /* padding-top: 124px;
        padding-bottom: 144px;
        margin-top: 44px; */
        background-position: bottom right;
    }

    button.tablinks {
        outline: none;
        width: 102px;
        height: 38px;
        margin: 0px 0px 0px 0px;
    }

    /* clients - Style the buttons inside the tab */

    .tab button.tablinks {
        outline: none;
        letter-spacing: 0.8px;
font-weight: 200;
        width: 102px;
        height: 36px;
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 200;
        font-style: normal;
            font-size: 10.5px; 
            line-height: 18px;
        margin: 0px 2px 36px 0px;
        margin-left: 0px;
        padding: 0px 0px 0px 0px;


    }

 


    /* footer {
        display: none;
    } */

 


}


@media screen and (max-width: 601px) {

    .table {
        padding-top: 12vh;
        padding-left: 7%;
        align-self: normal;
        width: 500px;
       
        
    }

    .blur p {
        font-size: 12px;
    }






    /* Section - Parallax */
    /**************************/
    .parallax {
        /* padding-top: 44px;
        padding-bottom: 74px; */
        /* margin-top: 64px; */
        
        background-position: bottom right;
    }

    /* clients - Style the buttons inside the tab */

    .tab button.tablinks {
        outline: none;
        width: 87px;
        height: 36px;
        margin: 4px 4px;
        margin-left: 0px;


    }

    .margin-top-10 {
        padding-top: 0px;
    }

    /* LANGUAGES - Style the buttons inside the tab */
    button.tablinks {
        width: 87px;
        height: 36px;


    }


}