body {
  box-sizing: border-box;
  max-height: 100vh;
  background-color: #171717;
  color: white;

}



body {

  text-align: center;
  /* -webkit-font-smoothing: antialiased; */
  background-color: radial-gradient(circle at 24.1% 68.8%, rgb(29, 29, 29) 0%, rgb(0, 0, 0) 99.4%);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-size: 100%;
  max-height: 100vh;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;

}


nav a {
  color: white;
}


main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.work-index a {
  font-size: calc(4.5vw + 3rem);
  margin-left: -2px;
  font-family: 'the_new_eleganceCnRg';
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;

}


.overlay .closebtn {
  position: absolute;
  top: 12px;
  right: 7px;
  font-size: 28px;
  opacity: 1;
  color: white;
  cursor: pointer;
  z-index: 2;



}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 
  
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px)  {}





/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px){



}



/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (orientation: landscape) {

  .work-index a {
    font-size: calc(3vw + 1.5rem);
    margin-left: -2px;
    font-family: 'the_new_eleganceCnRg';
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
  
  }

  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/



@media (min-width: 481px) and (max-width: 767px) {

  .work-index a {
    font-size: calc(1.5vw + 1rem);
    margin-left: -2px;
    font-family: 'the_new_eleganceCnRg';
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
  
  }

  
}

@media (min-width: 320px) and (max-width: 480px) {}